.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    padding:50px 20px;
}
.wraper{
        background-color: #F4FCFA;
}
.wraper h1{
    text-align: center;
    padding:10px 0px;
    font-size:40px;
    color: rgb(60, 58, 58);
    font-weight:bold;
}
.card{
    width: 320px;
    background:#fff;
    padding:30px;
    border-radius: 20px;
    position:relative;
    overflow:hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.cardText h2{
    color: rgb(60, 58, 58)
}
.cardImg img{
    transition: 0.2s ease-in-out;
}
.cardImg img:hover{
    margin-left: 20px;
}
.cardPrice{
    background-color: #26ABA3;
   color: #fff;
   text-align: center;
   position: absolute;
   width: 200px;
   height:40px;
   border-radius: 20px;
   right: -60px;
   transform:rotate(50deg);
   color: #9B1B00;
   font-size:25px;
}
.card button{
    background-color: #fff;
    width: 80px;
    border-radius: 40px;
    padding: 10px;
    color: #26ABA3;
    font-size: 20px;
    border: none;
    cursor: pointer;
    border: 1px solid #26ABA3;
    transition: all 0.2s ease-in-out;
}
.card button:hover{
    background-color: orange;
    color: #fff
}