.container {
    display: flex;
    padding: 50px 20px;
    justify-content:space-around;
    flex-wrap: wrap;
}
.homeText{
    width: 500px;
}
.homeText  h1{
    font-size:50px;
    font-weight: bold;
    line-height: 45px;
    margin:0px;
    color: rgb(60, 58, 58);
}
.homeText span{
    color: #26ABA3;
}
.homeImg img {
    width:500px;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
}
.homeText button {
   padding:15px;
   background:#fff;
   color:#26ABA3;
   border:1px solid #26ABA3;
   border-radius: 30px;
   width:150px;
   font-size: 20px;
   transition: all 0.2s ease-in-out;
   cursor: pointer;
}

.homeText button:hover{
    background:orange;
    color: #fff;
}