.nav{
    display: flex;
    align-items: center;
    padding:10px;
    border-bottom: 1px solid #26ABA3;
    justify-content:space-between;
}
.menus{
    display: flex;
    align-items: center;
    gap: 20px;
}
.menus ul {
    display: flex;
    gap:15px;
}
.menus ul .link{
    text-decoration: none;
    color: black;
   font-size: 18px;
}
.users button {
 padding: 8px;
 margin:5px;
 cursor: pointer;
}
.users button:first-child{
    border:1px solid #26ABA3;
    background:white;
    border-radius: 1em;
    font-size: 18px;
    color: #26ABA3;

transition: 0.2s ease-in-out;
}
.users button:first-child:hover{
    border:1px solid #26ABA3;
    background:#26ABA3;
    color: #fff;
}
.users button:last-child:hover{
border:1px solid #26ABA3;
background:white;
color: #26ABA3;
}
.users button:last-child{
    border:1px solid #26ABA3;
    background:#26ABA3;
    border-radius: 1em;
    font-size: 18px;
    color: #fff;
    transition: 0.2s ease-in-out;
}
@media only screen and (max-width: 800px) {
    .menus {
       position: absolute;
       background-color: #ddd;
       padding:10px;
       text-align:center;
       left: 0%;
       transition: 0.3s ease-in-out;
    }
    .logo{
        width: 100%;
        display: flex;
        justify-content:space-between;
    }
}
@media only screen and (min-width: 801px) {
    .menus {
     display:block !important;
     width: 100%;
     display:flex !important;
    justify-content:flex-end;
    }
  
    .icon{
       display: none;
    }
    
}